@model SD_340_W22SD_2021_2022___Final_Project_2.Models.Project

<h1>@Model.Name</h1>

<hr />

<h6>Tasks</h6>
<ul>
    @foreach (Ticket ticket in Model.Ticket)
    {
        <li>
            @ticket.Name - @ticket.Priority | @ticket.Hours |
            @if (ticket.Completed)
            {
                <span>Completed</span>
            }
            else
            {
                <span>Not Completed</span>
            }

            | <a asp-action="CommentsForTask" asp-controller="Comment" asp-route-ticketId="@ticket.Id">Comments</a>

            <form asp-action="AddToWatchList" asp-controller="Ticket" asp-route-projectId="@Model.Id" asp-route-ticketId="@ticket.Id" method="post">
                <button type="submit">
                    @if (ticket.TaskWatchers.FirstOrDefault(tw => tw.UserName == User.Identity.Name) == null)
                    {
                        <span class="material-symbols-outlined">visibility</span>
                        <span>Start Watching</span>
                    }
                    else
                    {
                        <span class="material-symbols-outlined">visibility_off</span>
                        <span>Stop Watching</span>
                    }
                </button>
            </form>
            <form asp-action="ToggleTicket" asp-controller="Ticket" method="post" asp-route-projectId="@Model.Id" asp-route-ticketId="@ticket.Id">
                @if (!ticket.Completed)
                {
                    <button type="submit">Mark it as complete</button>

                }
                else
                {
                    <button type="submit">Mark it as not complete</button>
                }
            </form>
        </li>
    }
</ul>

<h6>Assigned Developers</h6>
<ul>
    @foreach (ApplicationUser developer in Model.Developers)
    {
        <li>@developer.UserName</li>
    }
</ul>
