@model SD_340_W22SD_2021_2022___Final_Project_2.Models.ViewModels.ProjectDetailsViewModel

<h1>@Model.Project.Name</h1>

<hr />

<ul>
    @foreach (Ticket ticket in Model.Tickets)
    {
        <li>
            @ticket.Name - @ticket.Priority | @ticket.Hours |
            @if (ticket.Completed)
            {
                <span>Completed</span>
            }
            else
            {
                <span>Not Completed</span>
            }
            <form asp-action="ToggleTicket" asp-controller="Ticket" method="post" asp-route-projectId="@Model.Project.Id" asp-route-ticketId="@ticket.Id">
                @if (!ticket.Completed)
                {
                    <button type="submit">Mark it as complete</button>

                }
                else
                {
                    <button type="submit">Mark it as not complete</button>
                }
            </form>
        </li>
    }
</ul>

<ul>
    @foreach (ApplicationUser developer in Model.Developers)
    {
        <li>@developer.UserName</li>
    }
</ul>
