@model IEnumerable<SD_340_W22SD_2021_2022___Final_Project_2.Models.Project>

<h1>List of Projects</h1>

<a class="btn btn-primary" asp-action="Create" asp-controller="Project">Create</a>

<hr />

@*Bootstrap code comes from https://getbootstrap.com/docs/5.0/components/buttons/#block-buttons*@
<div class="d-grid gap-2 d-md-block">
    <a class="btn btn-primary btn-sm" asp-action="Index" asp-controller="Project" asp-route-hours="asc" asp-route-completed="@Context.Request.Query["completed"]">
        Order By Hours Ascending
    </a>
    <a class="btn btn-primary btn-sm" asp-action="Index" asp-controller="Project" asp-route-hours="desc" asp-route-completed="@Context.Request.Query["completed"]">
        Order By Hours Descending
    </a>
    <a class="btn btn-primary btn-sm" asp-action="Index" asp-controller="Project" asp-route-priority="asc" asp-route-completed="@Context.Request.Query["completed"]">
        Order By Priority Ascending
    </a>
    <a class="btn btn-primary btn-sm" asp-action="Index" asp-controller="Project" asp-route-priority="desc" asp-route-completed="@Context.Request.Query["completed"]">
        Order By Priority Descending
    </a>
    @if (Context.Request.Query["completed"] == "True")
    {
        <a class="btn btn-primary btn-sm" asp-action="Index" asp-controller="Project" asp-route-hours="@Context.Request.Query["hours"]" asp-route-priority="@Context.Request.Query["priority"]" asp-route-completed="@false">
            Show Only Uncompleted
        </a>
    }
    else
    {
        <a class="btn btn-primary btn-sm" asp-action="Index" asp-controller="Project" asp-route-hours="@Context.Request.Query["hours"]" asp-route-priority="@Context.Request.Query["priority"]" asp-route-completed="@true">
            Show Only Completed
        </a>
    }
</div>

<hr />

@foreach (Project project in Model)
{
    <a asp-action="Details" asp-controller="Project" asp-route-projectId="@project.Id"><h4>@project.Name</h4></a>
    <a asp-action="Create" asp-controller="Ticket" asp-route-projectId="@project.Id">Add Task</a>
    @if (project.Ticket.Count > 0)
    {
        <ul>
            @foreach (Ticket ticket in project.Ticket)
            {
                <li>
                    @ticket.Name | @ticket.Priority | @ticket.Hours |
                    @if (ticket.Completed)
                    {
                        <span>Completed</span>
                    }
                    else
                    {
                        <span>In Progress</span>
                    }
                </li>
            }
        </ul>
    }
    else
    {
        <div>No tasks created for this project</div>
    }
    <hr />
}
