@model IEnumerable<SD_340_W22SD_2021_2022___Final_Project_2.Models.Project>

<h1>List of Projects</h1>

<a asp-action="Create" asp-controller="Project">Create</a>

<hr />

<form asp-action="Index" asp-controller="Project" asp-route-hours="asc">
    <button type="submit">Order By Hours Ascending</button>
</form>
<form asp-action="Index" asp-controller="Project" asp-route-hours="desc">
    <button type="submit">Order By Hours Descending</button>
</form>
<form asp-action="Index" asp-controller="Project" asp-route-priority="asc">
    <button type="submit">Order By Priority Ascending</button>
</form>
<form asp-action="Index" asp-controller="Project" asp-route-priority="desc">
    <button type="submit">Order By Priority Descending</button>
</form>

@foreach (Project project in Model)
{
    <a asp-action="Details" asp-controller="Project" asp-route-projectId="@project.Id"><h4>@project.Name</h4></a>
    <a asp-action="Create" asp-controller="Ticket" asp-route-projectId="@project.Id">Add Task</a>
    @if (project.Ticket.Count > 0)
    {
        <ul>
            @foreach (Ticket ticket in project.Ticket)
            {
                <li>
                    @ticket.Name | @ticket.Priority | @ticket.Hours |
                    @if (ticket.Completed)
                    {
                        <span>Completed</span>
                    }
                    else
                    {
                        <span>In Progress</span>
                    }
                </li>
            }
        </ul>
    }
    else
    {
        <div>No tasks created for this project</div>
    }
    <hr />
}
