@model IEnumerable<SD_340_W22SD_2021_2022___Final_Project_2.Models.Project>

<h1>List of Projects</h1>

<a asp-action="Create" asp-controller="Project">Create</a>

<hr />

@foreach (Project project in Model)
{
    <h4>@project.Name</h4>
    <a asp-action="Create" asp-controller="Ticket" asp-route-projectId="@project.Id">Add Task</a>
    @if (project.Ticket.Count > 0)
    {
        <ul>
            @foreach (Ticket ticket in project.Ticket)
            {
                <li>@ticket.Name | @ticket.Priority | @ticket.Hours</li>
            }
        </ul>
    }
    else
    {
        <div>No tasks created for this project</div>
    }
    <hr />
}
